<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('../partials/nav') %>


<table id="list">
  <thead>
    <tr>
      <th class="title">Airline</th>
      <th class="title">Airport</th>
      <th class="title">Flight No.</th>
      <th class="title">Departing Date & Time</th>
      <th class="title"></th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach((flight) => { %>
    <tr>
      <td class="airline"><%= flight.airline %></td>
      <td class="airport"><%= flight.airport %></td>
      <td class="flightNo"><%= flight.flightNo %></td>
      <td class="departing-Date"><%= flight.departs %></td>
      <td class="details"><a href="/flights/<%= flight._id %>">DETAILS</a></td>
      <td>
        <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
          <button>X</button>
        </form>
      </td> 
    </tr>
    <% }) %>
  </tbody>
</table>