<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <div>
  <h1><%= title %></h1>
  </div>
  <section>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Airline:</th>
            <td><%= flight.airline %></td>
          </tr>
          <tr>
            <th>Airport:</th>
            <td><%= flight.airport %></td>
          </tr>
          <tr>
            <th>Flight Number:</th>
            <td><%= flight.flightNo %></td>
          </tr>
          <tr>
            <th>Departure:</th>
            <td><%= flight.departs %></td>
          </tr>
        </thead>
      </table>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
  </section>
  <section>
  </div>
  <h2>Add Tickets</h2>
  <div>
    <% if (flight.tickets.length) { %>
      <table>
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Seat</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach( ticket => { %>
            <tr> 
              <td><form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form></td>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else { %>
<% } %>  
    </div>
  <form
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-select">Seat(A##):</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <br>
    <label for="price-select">Price:</label>
    <input type=number name="price" min="0">
    <br>
    <button type="submit">Add Ticket
    </button>
  </form>
  </section>
  
  <div>Meals:</div>
    <ul>
        <% flight.meals.forEach(meal => { %>
          <li><%= meal.name %></li>
        <% }) %>
    </ul> 
    

  <form id="add-meal-to-meals" action="/flights/<%=flight._id %>/meals" method="POST">
    <select name="mealId">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
    <% }) %>
    </select>
  <button type="submit">Add Meal</button>
  </form>
</main>


<%- include("../partials/footer") %>